<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="{{ site.url }}{{ site.baseurl }}/assets/images/logo.png" alt="ETHRio logo" width="auto" height="80" class="d-inline-block align-middle">&nbsp;&nbsp;<span class="fw-bolder align-middle text-secondary">ETHRio</span>
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
            {% for item in site.data.site_nav %}
            <li class="nav-item">
                <a class="nav-link" href="{% assign nav_url  = item.link %}{% if nav_url contains '://' %}{{ item.link }}{% else %}#{{ item.link }}{% endif %}">{{ item.name | capitalize }}</a>
            </li>
            {% endfor %}
        </ul>
      </div>
    </div>
  </nav>