/**
* Complementary CSS to aide Bootstrap CSS
* @author Akash Kumar
*/

.sec-home-first {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    // min-height: 800px;
}
