/**
* Complementary CSS to aide Bootstrap CSS
* @author Akash Kumar
*/

.section-background {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-yellow {
    background-color: $yellow;
}
