---
layout: default
---

{% for section in site.posts reversed %}
    <section class="section-{{ section.id }} {% if section.bg_image %}section-background{% endif %} {{ section.css_classes_section }}" style="{% if section.bg_image %}background: url('{{ site.url }}{{ site.baseurl }}{{ section.bg_image }}') no-repeat;{% endif %}{% if section.bg.color %}background-color: {{ section.bg_color }};{% endif %}" id="section-{{ section.id }}">
        <div class="{{ section.css_classes_container }}">
            <div class="{{ section.css_classes_row }}">
                <div class="{{ section.css_classes_col_one }}">
                    <div class="{{ section.css_classes_col_first_div }}">
                        <div class="{{ section.css_classes_col_second_div }}">
                            {% if section.css_classes_title %}
                                <h1 class="{{ section.css_classes_title }}">
                                    {{ section.title }}
                                </h1>
                            {% endif %}
                            {% if section.css_classes_subtitle %}
                                <h3 class="{{ section.css_classes_subtitle }}">
                                    {{ section.subtitle }}
                                </h3>
                            {% endif %}
                            {% if  section.has_mailchimp_form == "yes" %}
                                {% include mailchimp.html %}
                            {% endif %}
                            {% if section.css_classes_text %}
                                <p class="{{ section.css_classes_text }}">
                                    {{ section.text }}
                                </p>
                            {% endif %}
                            {% if section.button_text %}
                                <div class="{{ section.css_classes_button_container }}">
                                    <button type="button" class="{{ section.css_classes_button }}" {% if section.css_inline_button %} style="{{ section.css_inline_button }}" {% endif %} onclick="location.href='{{ section.button_link }}'">
                                        {{ section.button_text }}
                                    </button>
                                </div>
                            {% endif %}
                            {% if section.has_fetched_data == "yes" %}
                                <div class="my-3 py-3 row gx-5 gy-5 row-cols-sm-1 row-cols-md-3">
                                    {% for event_theme in site.data.event_themes %}
                                        <div class="col text-center">
                                            <img class="img-fluid" src="{{ site.url }}{{ site.baseurl }}{{ event_theme.icon }}" alt="{{ event_theme.name }}">
                                            <p class="fw-bold text-dark mt-2">{{ event_theme.name }}</p>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if section.css_classes_col_two %}
                    <div class="{{ section.css_classes_col_two }}">
                        {% if section.has_logo == "yes" %}
                            <img class="img-fluid" alt="logo" src="{{ site.url }}{{ site.baseurl }}/assets/images/logo.png">
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endfor %}