---
layout: default
---
<div class="">

    {% comment %} First section {% endcomment %}
    <section id="about" class="section-background sec-home-one" style="background: url('{{ page.section_one_background_image }}') no-repeat; ">
        <div class="container pt-5 pb-5">
            <div class="row mt-5 mb-5 gy-5 justify-content-around">
                {% comment %} The textual part of the section {% endcomment %}
                <div class="col-sm-12 col-md-8">
                    <h1 class="display-1 fw-bold text-primary">
                        {{ page.section_one_title }}
                    </h1>
                    <h3 class="display-5 mt-2 fw-normal text-primary">
                        {{ page.section_one_subtitle }}
                    </h3>
                    <p class="lead mt-5 text-dark">
                        {{ page.section_one_text }}
                    </p>
                    <div class="mt-5">
                        <button type="button" class="btn btn-lg btn-success" style="color: white;">
              {{ page.section_one_button_text }}
            </button>
                    </div>
                </div>
                {% comment %} logo for the section {% endcomment %}
                <div class="col-sm-12 col-md-4 text-center">
                    <img class="img-fluid" alt="logo" src="{{ site.url }}{{ site.baseurl }}/assets/images/logo.png">
                </div>
            </div>
        </div>
    </section>

    {% comment %} Second section {% endcomment %}
    <section id="tickets" class="section-background sec-home-two" style="background: url('{{ page.section_two_background_image }}') no-repeat; ">
        <div class="container pt-5 pb-5 text-center">
            <h1 class="fw-bolder text-secondary mt-5">
                {{ page.section_two_title }}
            </h1>
            <h5 class="mt-2 fw-bold text-secondary mt-3">
                {{ page.section_two_subtitle }}
            </h5>
            <div class="mb-5 mt-5">

<!-- Begin Mailchimp Signup Form -->


<div class="" id="mc_embed_signup">
<form action="https://ethrio.us20.list-manage.com/subscribe/post?u=afb08f78ce969d463af419af0&amp;id=6645fc90f3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="row justify-content-center validate" target="_blank" novalidate="" _lpchecked="1">
   <div id="mc_embed_signup_scroll" class="col-md-6">

 <input type="email" value="" name="EMAIL" class="form-control email" id="mce-EMAIL" placeholder="email address" required="" data-com.bitwarden.browser.user-edited="yes">
   <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
   <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_afb08f78ce969d463af419af0_6645fc90f3" tabindex="-1" value=""></div>
   <div class="clear"><input type="submit" value="{{ page.section_two_button_text }}" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-lg btn-secondary"></div>
   </div>
</form>
</div>

<!--End mc_embed_signup-->

            </div>
        </div>
    </section>

    {% comment %} Third section {% endcomment %}
    <section id="event" class="section-background sec-home-three" style="background: url('{{ page.section_three_background_image }}') no-repeat; ">
        <div class="container pt-5 pb-5">
            <div class="row mt-5 mb-5">
                {% comment %} The textual part of the section {% endcomment %}
                <div class="col-sm-12 col-md-6">
                    <h1 class="display-1 fw-bold text-primary">
                        {{ page.section_three_title }}
                    </h1>
                    <h3 class="mt-2 fw-normal text-dark">
                        {{ page.section_three_subtitle }}
                    </h3>
                    <p class="lead mt-5 text-dark">{{ page.section_three_text_part_one_content }}
                    </p>
                    <p class="lead mt-5 text-dark">{{ page.section_three_text_part_two_content }}
                    </p>
                </div>
            </div>
        </div>
    </section>

    {% comment %} Fourth section {% endcomment %}
    <section id="venue" class="section-background sec-home-four vh-100" style="background: url('{{ page.section_four_background_image }}') no-repeat; ">
        <div class="container pt-5 pb-5">
            <div class="row mt-5 mb-5">
                {% comment %} The textual part of the section {% endcomment %}
                <div class="col-sm-12 col-md-4">
                    <div class="card bg-yellow">
                        <div class="card-body">
                            <h2 class="fw-bold text-white card-title">
                                {{ page.section_four_title }}
                            </h2>
                            <p class="lead fw-normal text-dark card-text">
                                {{ page.section_four_subtitle }}
                            </p>
                            <div>
                                <button type="button" onclick="location.href='https://museudoamanha.org.br/en'" class="btn btn-lg btn-light">
                  {{ page.section_four_button_text }}
                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% comment %} Fifth section {% endcomment %}
    <section id="agenda" class="section-background sec-home-five" style="background: url('{{ page.section_five_background_image }}') no-repeat; ">
        <div class="container pt-5 pb-5">
            <h1 class="fw-bold display-3 text-white">
                {{ page.section_five_heading }}
            </h1>
            <div class="my-3 py-3 row gx-5 gy-5 row-cols-sm-1 row-cols-md-3">
                {% for event_theme in site.data.event_themes %}
                <div class="col text-center">
                    <img class="img-fluid" src="{{ site.url }}{{ site.baseurl }}{{ event_theme.icon }}" alt="{{ event_theme.name }}">
                    <p class="fw-bold text-dark mt-2">{{ event_theme.name }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    {% comment %} Sixth section {% endcomment %}
    <section id="speakers" class="section-background sec-home-six" style="background-color: #{{ page.section_six_background_color }};">
        <div class="container pt-5 pb-5">
            <h1 class="fw-bold display-3 text-white">
                {{ page.section_six_heading }}
            </h1>
            <div class="my-3 py-3 row gx-5 gy-5 row-cols-sm-1 row-cols-md-2 row-cols-lg-3">
                {% for speaker in site.data.speakers %}
                <div class="col text-center">
                    <img class="img-fluid img-thumbnail" src="{{ site.url }}{{ site.baseurl }}{{ speaker.photo }}" alt="{{ speaker.name }}">
                    <p class="fw-bold text-white mt-2">{{ speaker.name }}</p>
                    <p class="fw-normal text-white">{{ speaker.job_title }}</p>
                    <p class="fw-light text-white"><a href="{{ speaker.url }}">website</a></p>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    {% comment %} Seventh section {% endcomment %}
    <section id="" class="section-background sec-home-seven" style="background: url('{{ page.section_seven_background_image }}') no-repeat; ">
        <div class="container pt-5 pb-5 text-center">
            <h1 class="fw-bolder text-secondary mt-5">
                {{ page.section_seven_title }}
            </h1>
            <h5 class="mt-5 fw-bold text-secondary">
                {{ page.section_seven_subtitle_one }}
            </h5>
            <h5 class="mt-2 fw-bold text-secondary">
                {{ page.section_seven_subtitle_two }}
            </h5>
            <div class="pb-5 mt-5">
                <div class="row align-items-center gy-3">
                    <div class="col-sm-12 col-md-6">
                        <button onclick="location.href='https://ethrio.typeform.com/Volunteers'" type="button" class="btn btn-lg btn-outline-primary text-secondary">
              {{ page.section_seven_button_one_text }}
            </button>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <button onclick="location.href='https://ethrio.typeform.com/sponsor-speaker'" type="button" class="btn btn-lg btn-outline-primary text-secondary">
              {{ page.section_seven_button_two_text }}
            </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% comment %} Eighth section {% endcomment %}
    <!-- //
    <section id="contact" class="section-background sec-home-eight pt-5 pb-5" style="background: url('{{ page.section_eight_background_image }}') no-repeat; ">
        <div class="container pt-5 pb-5 text-center">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-6">
                    <form style="background-color: #ffd42d;" class="p-5">
                        <h1 class="mb-5 fw-bold text-white">
                            {{ page.section_eight_title }}
                        </h1>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="name" placeholder="Name">
                            <label for="name">Name</label>
                          </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="email" placeholder="example@example.com">
                            <label for="email">Email address</label>
                          </div>
                          <div class="form-floating">
                            <textarea class="form-control" placeholder="Message" id="message" style="height: 100px"></textarea>
                            <label for="message">Message</label>
                          </div>
                        <button type="submit" class="btn btn-secondary mt-3">Submit</button>
                    </form>
                </div>
              </div>
        </div>
    </section>
    //-->

    {% comment %} Ninth section {% endcomment %}
    <section class="section-background sec-home-nine" style="background: url('{{ page.section_nine_background_image }}') no-repeat; ">
        <div class="container pt-5 pb-5 text-center">
            <h1 class="fw-bolder text-white mt-5">
                {{ page.section_nine_title }}
            </h1>
            <div class="mt-5">
            {% for social in site.data.social_networks %}
                <a href="{{ social.link }}" target="_blank" style="margin-left: 20px;"><img class="img-fluid" src="{{ site.url }}{{ site.baseurl }}{{ social.icon }}" alt="{{ social.name }}" style="height: 30px; width: auto;"></a>
            {% endfor %}
            </div>
            <h5 class="mt-5 fw-normal text-white">
                <a href="mailto:{{ page.section_nine_sponsor_email }}" class="text-white text-decoration-none">{{ page.section_nine_subtitle }}:&nbsp;{{ page.section_nine_sponsor_email }}</a>
            </h5>
            <div class="d-flex justify-content-between text-white mt-5">
                <div class="align-self-center">&copy;&nbsp;{{ 'now' | date: "%Y" }}</div>
                <div class="align-self-center"><img alt="Eth Rio" src="{{ site.url }}{{ site.baseurl }}/assets/icons/eth-rio.png" class="img-fluid"></div>
            </div>
        </div>
    </section>

</div>
