---
layout: default
---
<div class="">

  {% comment %}
  First section
  {% endcomment %}
  <section class="sec-home-one"
    style="background: url('{{ page.section_one_background_image }}') no-repeat center center fixed; ">
    <div class="container pt-5 pb-5">
      <div class="row mt-5 mb-5 gy-5 justify-content-around">
        {% comment %}
        The textual part of the section
        {% endcomment %}
        <div class="col-sm-12 col-md-8">
          <h1 class="display-1 fw-bold text-primary">
            {{ page.section_one_title }}
          </h1>
          <h3 class="display-5 mt-2 fw-normal text-primary">
            {{ page.section_one_subtitle }}
          </h3>
          <p class="lead mt-5 text-dark">
            {{ page.section_one_text }}
          </p>
          <div class="mt-5">
            <button type="button" class="btn btn-lg btn-success" style="color: white;">
              {{ page.section_one_button_text }}
            </button>
          </div>
        </div>
        {% comment %}
        logo for the section
        {% endcomment %}
        <div class="col-sm-12 col-md-4">
          <img class="img-fluid" alt="logo" src="/assets/images/logo.png">
        </div>
      </div>
    </div>
  </section>

  {% comment %}
  Second section
  {% endcomment %}
  <section class="sec-home-two"
    style="background: url('{{ page.section_two_background_image }}') no-repeat center center fixed; ">
    <div class="container p-5 text-center">
      <h1 class="fw-bolder text-secondary">
        {{ page.section_two_title }}
      </h1>
      <h5 class="mt-2 fw-bold text-secondary">
        {{ page.section_two_subtitle }}
      </h5>
      <div class="mt-5">
        <button type="button" class="btn btn-lg btn-secondary">
          {{ page.section_two_button_text }}
        </button>
      </div>
    </div>
  </section>

  {% comment %}
  Third section
  {% endcomment %}
  <section class="sec-home-three"
    style="background: url('{{ page.section_three_background_image }}') no-repeat center center fixed; ">
    <div class="container p-5 text-center">
      <h1 class="fw-bolder text-secondary">
        {{ page.section_three_title }}
      </h1>
      <h5 class="mt-2 fw-bold text-secondary">
        {{ page.section_three_subtitle }}
      </h5>
      <div class="mt-5">
        <button type="button" class="btn btn-lg btn-secondary">
          {{ page.section_three_button_text }}
        </button>
      </div>
    </div>
  </section>

</div>